html
    head
        include includes/head.pug
        title #{article.config.title} | #{site.title}
    body
        .title-slide
            .title-slide-cover
                h1.title-slide-title= article.config.title
                small.title-slide-subtitle= article.config.date + ' • ' + article.config.author
        div !{Render(article.article_id, 1, article.config)}